body {
  background-color: #144D65;
}

.navbar {
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #237EA5;
  padding: 2%;
}

.links {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.links:hover {
  color: #33CFA8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-container {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 20px;
  margin: 0 auto;
  background-color: #203152;
  width: 75%;
  bottom: 25%;
}

.main-container {
  position: relative;
  color: #33CFA8;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  text-align: center;
  color: #00F0FF;
}

.steamlogo {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.header-card {
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 80px;
  width: 15%;
  margin: 0 auto;
  background-color: #169DA6;
}

.login-button {
position: absolute;
top: 0;
right: 0;
left: 1;
border-radius: 100px;
background-color: #296693;
color: #33CFA8;
padding: .5%;
width: 8%;
cursor: pointer;
}
.logout-button {
  position: absolute;
  top: 0;
  right: 0;
  left: 1;
  border-radius: 100px;
  background-color: #932929;
  color: #ff0909;
  padding: .5%;
  width: 8%;
  cursor: pointer;
  }

.searchbar {
  background-color: #498BD9;
}

.grid-games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 15%;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-top: 20%;
}

.games-card {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  color: white;
  background-color: #0F313F;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  height: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 1% auto;
  width: 70%;
  margin-bottom: 30px;
}

.add-game-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  color: #58FFB1;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
  margin-bottom: -5%;
  font-size: 40px;
  margin-top: 50px;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #203152;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: white;

}

.login-input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
}

.user-password {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2%;
  color: #2CFEB3;
}

.input-wrapper {
  padding: 5%;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #237EA5;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.signin-button {
  padding: 20px;
  width: 400px;
  background: linear-gradient(270deg, #2CFEB3 0%, rgba(61, 171, 217, 0.85) 93.29%);
  font-size: 32px;
  color: #BDFFC0;
  border: black;
}

.signin-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}







