.new-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-card-update {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #0F313F;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    color: white;
    height: 200px;
    width: 1000px;
}

.games-card-update img {
    height: 150px;
    width: auto;
    margin-right: 10rem;
}

.games-card-update h3 {
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.add-game-button-two {
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: none;
    margin-top: 1px;
    transition: background-color 0.3s ease-in-out;
  }

  .add-game-button-two:hover {
    background-color: #fff;
    color: green;
  }

  .add-game-button-two:active {
    background-color: white;
    color: green;
  }