.update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-titleone, .form-titlethree {
  margin-left: 25px;
}

.form-titletwo {
  margin-left: 40px;
}

.form-titleone, .form-titlethree, .form-titletwo, .form-heading {
  color: #33CFA8;
}

.form-heading {
  margin-right: 14px;
}

.update-button {
  padding: 20px;
  width: 400px;
  background: linear-gradient(270deg, #2CFEB3 0%, rgba(61, 171, 217, 0.85) 93.29%);
  font-size: 32px;
  color: #BDFFC0;
  border: black;
}