 .update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-titleone, .form-titlethree {
  margin-left: 25px;
}

.form-titletwo {
  margin-left: 40px;
}

.form-titleone, .form-titlethree, .form-titletwo, .form-heading {
  color: #33CFA8;
}

.form-heading {
  margin-right: 14px;
}

.update-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background: linear-gradient(270deg, #2CFEB3 0%, rgba(61, 171, 217, 0.85) 93.29%);
  font-size: 16px;
  padding: 10px;
  color: #BDFFC0;
  border: black;
  margin-top: 20px;
}

.update-button:hover {
  cursor: pointer;
}

.card-title {
  display: flex;
  flex-direction: column;
  color: #58FFB1;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  max-width: 800px;
  padding: 40px;
  margin-bottom: -400px;
  border-radius: 10px;
  background-color: #203152;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
}

.register-input {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: -5px;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
  background-color: white;
}

.redirect-text {
  color: white;
}

.input-wrapper-profile {
  display: flex;
  justify-content: center;
  padding: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #237EA5;
}